html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body, ul, nav {
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */

h1 {
    margin: 0 0 1rem;
    font-size: 2rem;
}

h2 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
}

h3 {
    margin: 0 0 1rem;
    font-size: 1rem;
}

h4 {
    margin: 0 0 1rem;
    font-size: 1rem;
    font-weight: normal;
}

h5 {
    margin: 0;
    font-size: 0.5rem;
}

p {
    margin: 0 0 1rem;
}

/* Header */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 1rem 0;
}

header img {
    width: 20px;
    margin-left: 1rem;
}

nav ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #9F9F9F;
}

/* Main */

main {
    margin: 1rem;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Resume */

.resume {
    flex: 3;
    order: 1;
    scroll-margin-top: 4rem;
}

.edu-exp {
    display: flex;
}

/* Education */

.education {
    flex: 1;
}

.education-content {
    display: flex;
}

.education img {
    height: 120px;
    margin: 0.75rem;
}

.education-text {
    width: 50%;
    margin: 1rem;
    display: grid;
    place-content: center start; /* Tengah vertikal dan kiri horizontal */
    height: 100%; /* Pastikan memiliki tinggi */

}

.education-text * {
    margin-bottom: 0.25rem;
}

.education-text *:last-child {
    margin: 0;
    font-weight: lighter;
}

/* Work Experience */

.experience {
    flex: 1;
}

.experience p {
    font-weight: lighter;
}

/* Skills */

.skills {
    margin-top: 5rem;
}

.skills-card {
    display: flex;
    justify-content: space-between;
}

.skills-card > * {
    flex: 1;
    background-color: #D9D9D9;
    padding: 1rem;
    border-radius: 20px;
}

.skills-card > *:not(:last-child) {
    margin-right: 20px;
}

.skills-card img {
    height: 80px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

/* About */

aside {
    flex: 1;
    order: 2;
}

.about {
    scroll-margin-top: 4rem;
    text-align: center;
}

.about img {
    width: 80%;
    border-radius: 1000px;
    margin-bottom: 2rem;
}

/* Projects */

.projects {
    scroll-margin-top: 4rem;
    margin-top: 5rem;
}

.project-card > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.project-card > div > div:first-child{
    flex: 2;
    text-align: center;
}

.project-card > div > div:nth-child(2) {
    position: relative;
    flex: 1;
}

.project-card > div > div:nth-child(2) h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.project-card > div > div:nth-child(2) h4 {
    font-size: 1rem;
    font-weight: lighter;
}

.project-card > div > div:nth-child(2) p {
    font-size: 1.25rem;
}

.project-card > div > div:nth-child(2) a {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: normal;
    font-size: 1.25rem;
    padding: 0.5rem;
    color: black;
}


.project-card img {
    width: 90%;
}

/* Contact */

.contact {
    scroll-margin-top: 4rem;
}

footer {
    background-color: #D9D9D9;
    padding: 1rem;
}

/* Slider */

.slide {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.slider-btn button {
    appearance: none;
    background-color: #D9D9D9;
    border: 0 solid rgba(27, 31, 35, .15);
    border-radius: 30px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    padding: 15px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.slider-btn button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.slider-btn button:hover {
    background-color: #9F9F9F;
    transform: scale(1.05);
}

.slider-btn button:nth-child(4) { left: 10px; }
.slider-btn button:nth-child(5) { right: 10px; }

/* Media Query */

@media (max-width: 1024px) {
    html {
        font-size: 20px;
    }
    #content {
        flex-direction: column; /* Ubah menjadi layout vertikal */
    }

    aside {
        order: 1; /* Ubah urutan aside menjadi yang pertama */
    }

    .about img {
        width: 30%;
    }

    .resume {
        margin-top: 2rem;
        order: 2; /* Resume dipindahkan ke bawah */
    }

    .skills-card {
        flex-direction: column;
    }

    .skills-card > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .project-card > div {
        flex-direction: column;
    }

    .project-card img {
        width: 100%;
    }

    .project-card > div > div:nth-child(2) p {
        margin-bottom: 4rem;
    }

    .slider-btn button {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    header {
        display: none;
    }

    .about img {
        width: 50%;
    }

    .edu-exp {
        flex-direction: column;
    }

    .skills-card {
        flex-direction: column;
    }

    .skills-card > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .project-card > div {
        flex-direction: column;
    }

    .project-card img {
        width: 100%;
    }

    .project-card > div > div:nth-child(2) p {
        margin-bottom: 4rem;
    }

    .slider-btn button {
        margin-bottom: 0.5rem;
    }
}
